:root {
  --bg-dark: #2f2422;        /* Dark chocolate (lebih soft) */
  --bg-light: #fff6ef;       /* Cream bakery */
  --primary: #e8b4a6;        /* Peach blossom */
  --accent: #c97c5d;         /* Caramel */
  --highlight: #f6c453;      /* Honey gold */
  --text-dark: #3a2a28;
  --text-light: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--bg-dark);
  color: var(--text-light);
}


/* ===== NAVBAR ===== */

.navbar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  padding: 0.8rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: rgba(47, 36, 34, 0.6);
  backdrop-filter: blur(12px);
  border-radius: 50px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.25);

  z-index: 999;
  transition: all 0.4s ease;
}


.navbar.scrolled {
  background: rgba(60, 47, 47, 0.85);
}


.navbar-logo {
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
 color: var(--highlight);
  letter-spacing: 1px;
}

.navbar-nav {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar-nav li {
  margin: 0 0.5rem;
}

.navbar-logo:hover {
  color: var(--primary);
  transition: 0.3s;
}



.navbar-nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: #fff;
  font-size: 0.9rem;
  position: relative;
}

.navbar-nav a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--primary);
  transition: 0.3s;
}

.navbar-nav a:hover::after {
  width: 100%;
}

.nav-icon svg {
  width: 18px;
  height: 18px;
  stroke: white;
  transition: 0.3s;
}

.nav-icon:hover svg {
  stroke: var(--primary);
  transform: scale(1.15);
}

.btn-order {
  margin-left: 1rem;
  padding: 0.5rem 1.3rem;
  border-radius: 999px;
  background: var(--primary);
  color: var(--dark);
  text-decoration: none;
  font-size: 0.85rem;
  font-weight: 600;
  transition: 0.3s;
}

.btn-order:hover {
  background: #c07a9a;
  transform: translateY(-2px);
}



/* ===== HERO ===== */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url("./foto/Variety of baked goods, a sweet indulgence generated by AI stock photos.jpeg")
    center / cover no-repeat;
  box-shadow: inset 0 0 20px var(--dark);
   mask-image: linear-gradient(to bottom, transparent 0%, black 20%, black 80%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 20%, black 80%, transparent 100%); /* For Safari support */
}
.hero::before {
  content: "";
  position: absolute;
  inset: 0;

}

.hero-content {
  padding: 7%;
  max-width: 700px;
}

.hero h1 {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  text-shadow: #333;
}

.hero h1 span {
  color: var(--primary);
}

.hero p {
  margin: 1rem 0;
  font-weight: 300;
  text-shadow: 1px 1px 2px var(--dark) ;
}

.cta {
  display: inline-block;
  padding: 1rem 2rem;
 background: var(--highlight);
  color: var(--text-dark);
  box-shadow: 0 15px 30px rgba(246,196,83,0.4);
  border-radius: 20px;
  text-decoration: none;
  font-weight: 600;
}

.cta:hover {
 background: var(--accent);
  color: white;
}

/* ===== MENU ===== */
.menu-section {
  padding: 5rem 7%;
 background: var(--bg-dark);
   box-shadow: inset 0 0 20px var(--dark);
   mask-image: linear-gradient(to bottom, transparent 0%, black 20%, black 80%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 20%, black 80%, transparent 100%); /* For Safari support */
}

.section-heading {
  text-align: center;
  max-width: 600px;
  margin: 0 auto 3rem;
}

.section-heading img {
  width: 350px;
  margin-bottom: 4rem;
  box-shadow: #333;
}

.section-heading h1 {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  letter-spacing: 2.5px;
}

.section-heading p {
  margin-top: 1rem;
  font-weight: 300;
}

.cookie-wrapper {
  will-change: transform;
}

.cookie-img {
  opacity: 0;
  transform: scale(0.9);
  animation:
    cookieIntro 1.5s ease forwards,
    floatCookie 4s ease-in-out infinite;
}

@keyframes cookieIntro {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes floatCookie {
  0% { transform: translateY(0) scale(1); }
  50% { transform: translateY(-15px) scale(1); }
  100% { transform: translateY(0) scale(1); }
}



.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}

.menu-item {
 background: var(--bg-light);
  color: var(--text-dark);
  box-shadow: 0 20px 40px rgba(0,0,0,0.12);
  padding: 1rem;
  border-radius: 20px;
  text-align: center;
}

.menu-item img {
  width: 100%;
  border-radius: 15px;
}

.menu-item h3 {
  margin-top: 1rem;
  color: var(--accent);
}

.menu-item p {
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.menu-item a {
  text-decoration: none;
  color: inherit;
}

.menu-item a:hover {
  color: var(--primary);
  transition: color 0.5s;

}

/* ===== MENU CARD ANIMATION ===== */
.menu-item {
  opacity: 0;
  transform: translateY(40px) scale(0.95);
  transition: 
    opacity 0.6s ease,
    transform 0.6s ease;
}

.menu-item.show {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.menu-item:hover {
  transform: translateY(-10px) scale(1.02);
  transition: 0.4s ease;
}


/* ===== ABOUT SECTION ===== */


.about-section {
  background: var(--bg-light);
  color: var(--text-dark);
  padding: 6rem 7%;
}

.about-container {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-items: center;
}

/* TEXT */
.about-text h2 {
  font-family: "Playfair Display", serif;
  font-size: 2.8rem;
  margin-bottom: 1.5rem;
  letter-spacing: 2px;
}

.about-text p {
  font-size: 1.05rem;
  line-height: 1.8;
  margin-bottom: 1.2rem;
  font-weight: 300;
}

/* IMAGE */
.about-image img {
  width: 100%;
  border-radius: 24px;
  box-shadow: 0 30px 60px rgba(0,0,0,0.15);
  object-fit: cover;
}

.about-text,
.about-image {
  opacity: 0;
  transform: translateY(40px);
  transition: 0.8s ease;
}

.about-section.show .about-text {
  opacity: 1;
  transform: translateY(0);
}

.about-section.show .about-image {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.2s;
}


.navbar-extra a {
  cursor: pointer;
}

.navbar-extra a:hover svg {
  stroke: #c07a9a;
  transform: scale(1.1);
  transition: 0.3s;
}
.navbar-extra svg {
  width: 24px;
  height: 24px;
  stroke: #fff;
  transition: 0.3s;
}



.timeline-section {
  background: var(--dark);
  color: #fff;
  padding: 6rem 7%;
}

.timeline-title {
  font-family: "Playfair Display", serif;
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 4rem;
  letter-spacing: 3px;
}

.timeline {
  max-width: 900px;
  margin: auto;
  position: relative;
}

/* Garis tengah */
.timeline::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 0;
  width: 2px;
  height: 100%;
  background: rgba(255,255,255,0.2);
}

.timeline-item {
  position: relative;
  padding-left: 60px;
  margin-bottom: 4rem;
  opacity: 0;
  transform: translateY(40px);
  transition: 0.7s ease;
}

/* Bulatan */
.timeline-item::before {
  content: "";
  position: absolute;
  left: 11px;
  top: 8px;
  width: 18px;
  height: 18px;
  background: var(--primary);
  border-radius: 50%;
}

.timeline-item .year {
  font-size: 0.9rem;
  letter-spacing: 2px;
  color: var(--primary);
}

.timeline-item .content h3 {
  font-family: "Playfair Display", serif;
  margin: 0.5rem 0;
  font-size: 1.4rem;
}

.timeline-item .content p {
  font-size: 0.95rem;
  line-height: 1.6;
  font-weight: 300;
}

.timeline-item.show {
  opacity: 1;
  transform: translateY(0);
}

/* ================= MOBILE ================= */
@media (max-width: 768px) {

  /* NAVBAR */
  .nav-right {
    display: none;
  }

  .nav-toggle {
    display: block;
    cursor: pointer;
  }

  .navbar-nav {
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    background: rgba(47,36,34,0.95);
    backdrop-filter: blur(12px);
    border-radius: 25px;

    flex-direction: column;
    text-align: center;

    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: 0.4s ease;
  }

  .navbar-nav.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  .navbar-nav a {
    padding: 1rem;
    font-size: 1rem;
  }

  /* HERO */
  .hero h1 {
    font-size: 2.1rem;
  }

  .hero p {
    font-size: 0.95rem;
  }

  /* MENU */
  .menu-grid {
    grid-template-columns: 1fr;
  }

  /* ABOUT */
  .about-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  /* TIMELINE */
  .timeline::before {
    left: 10px;
  }

  .timeline-item {
    padding-left: 40px;
  }
}

